@font-face {
  font-family: stamp;
  src: url("Stamp.ttf") format("opentype");
}

nav {
  font-family: stamp;
  text-align: center;
  font-size: 2.3rem;
  word-spacing: 5rem;
}
div.navbar {
  margin: 10px;
}
a {
  color: #00000e;
}
h2 {
  font-size: 5rem;
  text-align: center;
  font-family: stamp;
  margin: 0%;
  margin-top: 4%;
}
h1 {
  text-align: center;
  font-family: stamp;
  font-size: 7rem;
  margin: 0%;
}
.thumbnail {
  padding: 4px;
  margin: 25px;

  text-align: center;
}

.thumbnails {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.thumbnail img {
  margin: 5px;
  width: 70px;
  height: 70px;
}
.thumbnail a {
  text-decoration: none;
}
.posttitre {
  font-size: 1.5rem;
  text-decoration: underline;
}
.postauteurdate {
  font-size: 0.8rem;
  font-style: italic;
}

.maintext {
  font-size: 1.2rem;
  text-align: justify;
  font-family: Arial, sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}
.footer {
  text-align: center;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}
