@font-face {
    font-family: esmeralda;
    src: url('esmeraldagroterk-Regular.otf') format('opentype');
}
nav {
    font-family: esmeralda;
}
a {
    color: #00000e;
}
h1, h2 {
    text-align: center;
    font-family: esmeralda;
}
.thumbnail {
    border : thin solid #00000e;
    padding: 4px;
    margin: 25px;
    display: inline-block;
    text-align: center;
}

.thumbnail img {
    margin: 5px;
    width: 50px;
    height: 50px;
}


